*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 1rem;
}
body{
    min-width: 100%;
    min-height: 100dvh;
    background-repeat: no-repeat;
}
header img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
h1{
    font-size: 1.5rem;
    color: aliceblue;
}
.logo-area{
    display: flex;
    align-items: center;
    gap: 5px;
    left: -10%;
    position: relative;
}
nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 7px;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    border-top: 0.1rem white solid;
}
nav a:hover{
    background: white;
    color: black;
}
.navbar{
    display: none;
}
.btn-navv{
    display: none;
}
.navbar.active ~ .btn-navv{
    font-size: 1rem;
    display: inline-block;
    z-index: 3;
    position: absolute;
    background: none;
    color: rgb(251, 255, 0);
}
.navbar.active .btn-nav{
    position: relative;
    right: 10%;
}
.navbar.active{
    display: flex;
    flex-direction: column;
    justify-content: start;align-items: center;
    position: fixed;
    top: 0;
    text-align: center;
    background: linear-gradient(to bottom,rgb(58, 58, 58),rgb(0, 0, 0));
    right: 0%;
    width: 50%;
    min-height: 100vh;
    z-index: 1;
}
#btn-nav{
    position: relative;
    left: 5%;
    border: none;
    color: white;
    font-size: calc(100% + 33%);
    background: none;
}
.s1{
    display: inline-block;
    background: linear-gradient(260deg,rgb(0, 255, 221),rgb(255, 145, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-animation{
    background: linear-gradient( 260deg,rgb(0, 0, 0),rgb(51, 51, 51),rgb(0, 0, 0));
    background-size: 600% 600%;
    animation: bg-change 8s ease-in-out infinite;
}
@keyframes bg-cheange {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.search{
    border-radius: 45px;
    padding: 0.35rem;
    margin-bottom: 100px;
    margin-top: 50px;
    max-width: 85%;
}
.search:focus{
    outline: none;
}












